!!! 5
html
    head
        title Result

    body
        table(border=1)
            tr
                th id
                th external_reference
                th status
            - result.response.results.forEach(function(payment){
                tr
                    td payment.id
                    td payment.external_reference
                    td payment.status
            - })



